
/*===================================================================================*/
/*  Slider Less
/*===================================================================================*/

/*!
 * Slider for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */

.slider {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	
	&.slider-horizontal {
		width: 242px;
		height: 3px;
		
		.slider-track {
			height: 3px;
			width: 100%;
			margin-top: -@baseLineHeight/4;
			top: 50%;
			left: 0;
		}
		
		.slider-selection {
			height: 100%;
			top: 0;
			bottom: 0;
		}
		
		.slider-handle {
			margin-left: -20px;
			margin-top: -15px;
			&.triangle {
    			border-width: 0 @baseLineHeight/2 @baseLineHeight/2 @baseLineHeight/2;
				width: 0;
				height: 0;
				border-bottom-color: #0480be;
				margin-top: 0;
			}
		}
	}
	
	input {
		display: none;
	}
	
	.tooltip-inner {
		white-space: nowrap;
	}
}

.slider-track {
	position: absolute;
	cursor: pointer;
	/*#gradient > .vertical(#f5f5f5, #f9f9f9);*/
	.box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
	border-radius: @baseBorderRadius;
}

.slider-selection {
	position: absolute;
	#gradient > .vertical(#f9f9f9, #f5f5f5);
	.box-shadow(inset 0 -1px 0 rgba(0,0,0,.15));
	.box-sizing(border-box);
	border-radius: @baseBorderRadius;
}

.slider-handle {
	position: absolute;
	width: 33px;
	height: 33px;
	.box-shadow(~"0 0 15px rgba(0,0,0,.05), 0 5px 2px rgba(0,0,1,.05)");
	background-color: #FFF;
	border: 3px solid #e5e5e5;

	&.round {
		border-radius: @baseLineHeight;
	}
	
	&.triangle {
		background: transparent none;
	}
}